@media (max-width:1024px){
    h1{
        font-size: 50px;
    }
    h2{
        font-size: 20px;
        line-height: 25px;
    }
    .wrapper{
        padding-top: 20px;
        padding-bottom: 25px;

    }
    

}


@media (max-width:991px){
    h4{
        font-size: 15px;
        margin-bottom: 10px;
    }
    p{
        font-size: 12px;
        line-height: 20px;
    }
    .text-content{
        width: 100%;
    }
    /* navbar */
    .custom-navbar .navbar-brand img{
        height:45px ;
    }
    .navbar-toggler .bi{
        color: var(--white-color);
        line-height: 2;
    }
    .custom-navbar{
        text-align: right;
        background-color: var(--black-color);
    }
    .custom-navbar .nav-link{
        line-height: 30px;
    }
    /* banner */
    #home{
        padding: 70px 0 0 ;
    }
    #home .carousel-caption{
        top: 50px;
    }




}
@media (max-width:575px){
    h2{
        font-size:16px;
        line-height: 20px;
        font-size: 15px;
        
    }
    .main-btn{
        height: 20px;
        line-height: 20px;
        font-size:15px;
    }
    .main-btn::after{
        transform: translateY(15px);
        -webkit-transform:  translateY(15px);
        
    }
    .main-btn:before{
        transform: translateY(-15px);
        -webkit-transform:  translateY(-15px);
        
    }
    /* banner */
    #home .carousel-caption{
        top: 22px;
    }
    #home .carousel-caption p{
        margin:5px auto ;
    }


    
}
@media (max-width:430px){
    h1{
        margin-bottom: 0;
    }
    /* banner */
    .top-header{
        display: none;
    }
    #home .carousel-caption p{
        font: size 12px;
        line-height: 20px;
    }
    #home .carousel-caption{
        padding: 0;
    }
    
}
@media (max-width:360px){
    #home .carousel-caption{
        top: 16px;
    }
    
}